body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    font-size: 12px;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #1F2B3F;
    color: white;
}

td a {
    color: #1F2B3F;
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Responsive table */
@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        font-weight: bold;
    }

    /* New CSS for responsive table */
    tr {
        display: flex;
        flex-direction: column;
    }
    th, td {
        flex: 1;
    }
}